*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
};

div #new-player-form {

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
};
div #all-players-container{
     display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

};
body{
  background-color:RBG 6, 174, 213;

}

/* Add some basic styling */
.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

h2 {
  margin-bottom: 10px;
}
