/* Reset styles for all elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Global styles for the body */
body {
  font-family: Arial, sans-serif;
  background-image: url(Images/Field\ cropped.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Styles for heading elements */
h1 {
  padding-bottom: 20px;
  text-transform: uppercase;
  color: rgb(153, 200, 238);
  font-size: 4rem;
  text-align: center;
}

/* Styles for heading elements */
h2,
h3 {
  color: rgb(135, 188, 38);
  font-size: 2rem;
  text-align: center;
  padding: 10px;
  margin: 10px;
  margin-bottom: 15px;
}

/* Styles for heading elements */
h2 {
  font-size: 3rem;
}

/* Styles for the form to add a new player */
#add-player-form {
  width: 100vw;
  color: #ccc;
  padding-top: 30px;
}

/* Styles for the form to add a new player */
#new-player-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: center;
  margin-bottom: -86px;
  padding: 25px;
}

/* Flips the image horizontally */
.flipped-image {
  transform: scaleX(-1);
}

/* Styles for the container of the welcome statement */
.welcome-statement {
  margin: 8vw;
  margin-top: 15px;

}

/* Styles for the welcome text */
.welcome-text {
  color: rgb(232, 216, 196);
  font-size: 30px;
  margin-top: 30px;
  text-align: center;
}

/* Styles for the container of all players */
#all-players-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Styles for each player container */
.player,
.player-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to bottom, rgb(51, 51, 95), rgb(5, 64, 5));
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 25px;
  margin: 20px;
  width: 300px;
  justify-content: flex-start;
}

/* Styles for player name in player and player details containers */
.player h2,
.player-details h2 {
  text-transform: uppercase;
  text-align-last: right;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: #dfee8b;
  font-size: 20px;
  margin-bottom: 10px;
  margin-right: -10px;
}

/* Styles for paragraphs in player and player details containers */
.player p,
.player-details p {
  display: flex;
  flex-direction: column-reverse;
  color: #faf5f5;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: end;
}

/* Styles for button containers in player containers */
.button-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

/* Styles for buttons in player containers */
.player .details-button,
.player .Add-button,
.player .removeButton {
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 100%;
}

/* Styles for details button in player containers */
.player .details-button {
  background-color: #460c85;
}

/* Styles for add button in player containers */
.player .Add-button {
  background-color: #4d9796;
}

/* Styles for remove button in player containers */
.player .removeButton {
  background-color: #1d5d68;
}

/* Styles for button hover effect in player containers */
.player .details-button:hover,
.player .Add-button:hover,
.player .removeButton:hover {
  background-color: #6e6e6e;
}

/* Styles for images */
img {
  max-width: 250px;
  max-height: 250px;
  min-height: 250px;
}

/* Styles for the player form */
form {
  max-width: 400px;
  margin: 5px;
}

/* Styles for labels in the player form */
label {
  display: block;
  margin-bottom: 10px;
}

/* Styles for text input fields in the player form */
input[type="text"],
input[type="number"],
input[type="url"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/* Styles for the submit button in the player form */
input[type="submit"] {
  background-color: #4c6faf;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Styles for the submit button hover effect in the player form */
input[type="submit"]:hover {
  background-color: #45a049;
}

/* Styles for error messages */
.error-message {
  color: red;
  margin-bottom: 10px;
}

/* Media query for small screens */
@media screen and (max-width: 500px) {

  /* Styles for the new player form */
  #new-player-form {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 5px;
  }

  /* Styles for the main heading */
  h1 {
    text-transform: uppercase;
    color: rgb(153, 200, 238);
    font-size: 2rem;
    text-align: center;
    padding: 1px;
  }
  /* Styles for the welcome text */
  .welcome-text {
    color: rgb(232, 216, 196);
    font-size: 14px;
    margin-top: 30px;
    text-align: center;
  }

  /* Styles for the subheadings */
  h2,
  h3 {
    color: rgb(221, 244, 174);
    text-align: center;
    padding: -5px;
    margin: 10px;
    margin-bottom: 15px;
    font-size: 22px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

  /* Styles for the add player form */
  #add-player-form {
    width: 100vw;
    color: #ccc;
  }
  /* Styles for the add player form */
  form {
    max-width: 305px;
  }
};